argcomplete==1.10.3
arrow==1.2.3
attrs==23.2.0
aws-cdk-lib==2.77.0
aws-cdk.asset-awscli-v1==2.2.202
aws-cdk.asset-kubectl-v20==2.1.2
aws-cdk.asset-node-proxy-agent-v5==2.0.166
aws-lambda-builders==1.23.1
aws-sam-cli==1.66.0
aws-sam-cli-local==1.69.0
aws-sam-translator==1.55.0
awscli==1.32.100
awscli-local==0.22.0
beautifulsoup4==4.8.2
binaryornot==0.4.4
boto3==1.34.100
botocore==1.34.100
build==1.2.1
cachetools==5.3.3
cattrs==23.2.3
certifi
cffi==1.15.1
chardet==3.0.4
chevron==0.14.0
click==8.1.3
colorama==0.4.6
compressed-rtf==1.0.6
constructs==10.3.0
cookiecutter==2.1.1
cryptography==38.0.4
dateparser==1.1.4
dill==0.3.6
dnslib==0.9.24
dnspython==2.6.1
docker==4.2.2
docutils==0.16
docx2txt==0.8
ebcdic==1.1.1
ecdsa==0.19.0
exceptiongroup==1.2.1
extract-msg==0.28.7
Flask==2.0.3
idna==2.10
IMAPClient==2.1.0
importlib_metadata==7.1.0
importlib_resources==6.4.0
itsdangerous==2.1.2
Jinja2==3.1.2
jinja2-time==0.2.0
jmespath==0.10.0
jsii==1.98.0
jsonschema==3.2.0
localstack==3.4.0
localstack-client==2.5
localstack-core==3.4.0
localstack-ext==3.4.0
lxml==4.9.2
markdown-it-py==3.0.0
MarkupSafe==2.1.1
mdurl==0.1.2
olefile==0.46
packaging==23.1
pbr==6.0.0
pdfminer.six==20191110
Pillow==9.5.0
plux==1.9.0
psutil==5.9.8
publication==0.0.3
pyaes==1.6.1
pyasn1==0.6.0
pycparser==2.21
pycryptodome==3.17
Pygments==2.18.0
pyOpenSSL==22.0.0
pypiwin32==223
pyproject_hooks==1.1.0
pyrsistent==0.19.2
pytesseract==0.3.10
python-dateutil==2.8.2
python-dotenv==1.0.1
python-jose==3.3.0
python-pptx==0.6.21
python-slugify==7.0.0
pytz==2022.6
pywin32==305
PyYAML==5.4.1
regex==2021.9.30
requests==2.25.1
rich==13.7.1
rsa==4.7.2
s3transfer==0.10.1
semver==3.0.2
serverlessrepo==0.1.10
six==1.12.0
sortedcontainers==2.4.0
soupsieve==2.4.1
SpeechRecognition==3.8.1
stevedore==5.2.0
tabulate==0.9.0
tailer==0.4.1
text-unidecode==1.3
textract==1.6.5
tomli==2.0.1
tomlkit==0.7.2
typeguard==2.13.3
typing_extensions==4.11.0
tzdata==2022.7
tzlocal==3.0
urllib3==1.26.13
watchdog==2.1.2
websocket-client==1.4.2
Werkzeug==2.0.3
wincertstore==0.2
windows-curses==2.3.2
xlrd==1.2.0
XlsxWriter==3.1.0
zipp==3.18.1
